.loginContainer {
  border-radius: 20px;
  background-color: rgba(51, 70, 64, 1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.contentWrapper {
  display: flex;
  flex: 1;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 40px;
  background-color: #fff;
}

.formContent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 60px;
}

.loginTitle {
  color: #000;
  align-self: center;
  font: 700 48px Montserrat, sans-serif;
  margin-bottom: 20px;
}

.inputLabel {
  color: #000;
  font: 400 20px Montserrat, sans-serif;
  margin-top: 20px;
}

.inputField {
  border-radius: 10px;
  background-color: #37373e;
  width: 100%;
  color: #8c8c8c;
  padding: 15px;
  font: 600 15px Montserrat, sans-serif;
  border: none;
  margin-top: 8px;
}

.loginButton {
  border-radius: 10px;
  background-color: #0ec300;
  color: #fff;
  margin: 30px 0;
  padding: 10px 30px;
  font: 600 18px Montserrat, sans-serif;
  border: none;
  cursor: pointer;
  align-self: center;
}

.socialLoginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.socialDivider {
  height: 1px;
  background-color: #000;
  width: 80%;
  margin: 20px 0;
}


.welcomeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: rgba(51, 70, 64, 1);
}

.welcomeText {
  color: #fff;
  text-align: center;
  font: 700 48px Montserrat, sans-serif;
}

.welcomeHighlight {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 991px) {
  .loginContainer {
      flex-direction: column;
  }

  .formSection, .welcomeSection {
      width: 100%;
  }

  .formContent {
      padding: 20px;
  }

  .loginTitle {
      font-size: 36px;
  }

  .welcomeText {
      font-size: 36px;
  }
}

.socialButton {
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 60px;
  height: 60px;
  border: 1px solid #000;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Ensure a neutral background for the icons */
}

.socialIcon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
